#
# . ___ _              _    _        _  _ ___ _____
#  / __| |_  ___ __ __| |_ (_)__ _  | \| | __|_   _|
# | (__| ' \/ -_) _/ _| ' \| / _` |_| .` | _|  | |
#  \___|_||_\___\__\__|_||_|_\__,_(_)_|\_|___| |_|
#
# Created by Daniel Checchia on 2020-05-09
# Copyright (c) 2020 Daniel Checchia (https://Checchia.NET)
#

define service{
        use                     generic-service
        host_name               servicos.nasajon.com.br
        service_description     Check DNS
        check_command           check_dns!servicos.nasajon.com.br
        contact_groups        	admins
        contacts                nagiosadmin
        notifications_enabled   1
        notification_options    w,u,c,r
        check_period            24x7
        max_check_attempts      3
        }
